@model IEnumerable<MyCineBel.Client.Models.Salle>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Les salles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SAL_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAL_Capacite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAL_Climatise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAL_3Dpossible)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.SAL_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAL_Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAL_Climatise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAL_3Dpossible)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.SAL_Id">Edit</a>  |
                <a asp-action="Delete" asp-route-id="@item.SAL_Id">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
