@model IEnumerable<MyCineBel.Client.Models.News>

@{
    ViewData["Title"] = "Index";
}

<hr />

<h1 class="text-center text-light">Les News</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.NEWS_Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NEWS_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NEWS_Text)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.NEWS_Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NEWS_Date)
            </td>
            <td>
                @Html.Raw(item.NEWS_Text)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.NEWS_Id">Edit</a>  |
                <a asp-action="Delete" asp-route-id="@item.NEWS_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
